<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="" method="get">
            <select name="manufacturer" id="">
                <option value="all">Tất cả</option>
                <option value="Xiaomi">Xiaomi</option>
                <option value="Iphone">Iphone</option>
                <option value="Oppo">Oppo</option>
                <option value="Samsung">Samsung</option>
            </select>
            <button>Thống kê</button>
        </form>
    </div>
</body>
</html>