{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" href="{% static "admin/css/dashboard.css" %}">{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block content %}
<div id="content-main">
    {% include "admin/app_list.html" with app_list=app_list show_changelinks=True %}
    <a href="http://127.0.0.1:8000/admin/chart/1" class="btn btn-primary" style="font-weight: bold;">
        <i class="fa fa-sign-in fa-lg mr-2"></i> Thống kê số lượng sản phẩm
    </a>
    <br> <br> 
    <a href="http://127.0.0.1:8000/admin/chart/2/?id=-1" class="btn btn-primary" style="font-weight: bold;">
        <i class="fa fa-sign-in fa-lg mr-2"></i> Thống kê giá sản phẩm
    </a>
    <br> <br> 
    <a href="http://127.0.0.1:8000/admin/chart/3" class="btn btn-primary" style="font-weight: bold;">
        <i class="fa fa-sign-in fa-lg mr-2"></i> Thống kê doanh thu
    </a>
    <br> <br> 
    <a href="http://127.0.0.1:8000/admin/chart/4/?month=0" class="btn btn-primary" style="font-weight: bold;">
        <i class="fa fa-sign-in fa-lg mr-2"></i> Top 10 khách hàng mua nhiều nhất
    </a>
    <br> <br> 
    <a href="http://127.0.0.1:8000/admin/chart/5/?month=0" class="btn btn-primary" style="font-weight: bold;">
        <i class="fa fa-sign-in fa-lg mr-2"></i> Top 10 Sản phẩm bán chạy nhất
    </a>
</div>

{% endblock %}

{% block sidebar %}
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>{% translate 'Recent actions' %}</h2>
        <h3>{% translate 'My actions' %}</h3>
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
            <p>{% translate 'None available' %}</p>
            {% else %}
            <ul class="actionlist">
            {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                {% if entry.is_deletion or not entry.get_admin_url %}
                    {{ entry.object_repr }}
                {% else %}
                    <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                {% endif %}
                <br>
                {% if entry.content_type %}
                    <span class="mini quiet">{% filter capfirst %}{{ entry.content_type.name }}{% endfilter %}</span>
                {% else %}
                    <span class="mini quiet">{% translate 'Unknown content' %}</span>
                {% endif %}
            </li>
            {% endfor %}
            </ul>
            {% endif %}
    </div>
</div>
{% endblock %}
