<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static "customer/css/signin.css" %}" />
    <title>Đăng nhập</title>
</head>
<body>
    <div class="login-box">
        <h2>Sign in</h2>
        <form action="{% url 'customers:check' %}" method="POST">
            {% csrf_token %}
            <div class="user-box">
                <input type="email" name="email" required="">
                {% comment %} {{ form.email }} {% endcomment %}
                <label>Email</label>
            </div>
            <div class="user-box">
                <input type="password" name="password" required="">
                {% comment %} {{ form.password }} {% endcomment %}
                <label>Password</label>
            </div>
            <button>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Submit
            </button>
        </form>
        {% comment %} <div>
            <a href="">Quên mật khẩu</a>
        </div> {% endcomment %}
    </div>
</body>
</html>