<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static "customer/css/signin.css" %}" />
    <title>Đăng kí</title>
</head>
<body>
    <div class="login-box">
        <h2>Sign up</h2>
        <form action="{% url 'save' %}" method="POST">
            {% csrf_token %}
            <div class="user-box">
                {% comment %} <input type="text" name="" required=""> {% endcomment %}
                {{ form.name }}
                <label>Name</label>
            </div>
            <div class="user-box">
                {% comment %} <input type="email" name="" required=""> {% endcomment %}
                {{ form.email }}
                <label>Email</label>
            </div>
            <div class="user-box">
                {% comment %} <input type="password" name="" required=""> {% endcomment %}
                {{ form.password }}
                <label>Password</label>
            </div>
            <div class="user-box">
                {% comment %} <input type="text" name="" required=""> {% endcomment %}
                {{ form.phone }}
                <label>Phone</label>
            </div>
            <div class="user-box">
                {% comment %} <input type="text" name="" required=""> {% endcomment %}
                {{ form.address }}
                <label>Address</label>
            </div>
            <button>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Submit
            </button>
        </form>
      </div>
</body>
</html>