{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="project">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="author" content="vinayak sharma">

    <title>INDEX</title>


    <!-- bootstrap file -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- bootstrap file-->

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <!-- style css -->
    <link rel="stylesheet" href="{% static 'customer/css/style.css' %}">
    <!-- Responsive-->
    <link rel="stylesheet" href="{% static 'customer/css/responsive.css' %}">
    <!-- fevicon -->
    <link rel="icon" href="images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="{% static 'customer/css/jquery.mCustomScrollbar.min.css' %}">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">


</head>

<body class="container-fluid main-layout">
    <div class="wrapper">

        <!-- end loader -->
        <div class="sidebar">
            <!-- Sidebar  -->
            <nav id="sidebar">

                <div id="dismiss">
                    <i class="fa fa-arrow-left"></i>
                </div>

                <ul class="list-unstyled components">

                    <li class="active">
                        <a  class="nav-link" href="/" >Trang chủ</a>
                    </li>
                    
                    <li class="active">
                        <a  href="/">Nhãn hiệu</a>
                        {% if manufacturer_list %}
                            {% for item in manufacturer_list %}
                                <li>
                                    <a class="list-group-item list-group-item-action"><img src="media/{{ item.image }}" alt="img"></a>
                                </li>
                                            
                            {% endfor %}
                        {% endif %}
                    </li>
                </ul>

            </nav>
        </div>

        <div id="content">
            <!-- header -->
            <header>
                <!-- header inner -->
                <div class="head_top">
                    <div class="header">

                        <div class="container-fluid">

                            <div class="row">
                                <div class="col-lg-3 logo_section">
                                    <div class="full">
                                        <div class="center-desk">
                                            <div class="logo">
                                                <a href="#" class="navbar-brand">3TQ Mobile</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-9">
                                    <div class="right_header_info">
                                        <ul class="navbar-nav">
                                            {% if username %}
                                            <li class="nav-item">
                                                <a class="nav-link" href="" >{{ username }} <img style="margin-right: 15px;" src="static/customer/icon/6.png" alt="#" /></a>                        
                                            </li>

                                            <li class="nav-item">
                                                <a class="nav-link" href="{% url "customers:signout" %}" >Đăng Xuất <img style="margin-right: 15px;" src="static/customer/icon/5.png" alt="#" /></a>                        
                                            </li>
                                            {% else %}
                                            <li class="nav-item">
                                                <a class="nav-link" href="{% url "customers:signin" %}" >Đăng Nhập <img style="margin-right: 15px;" src="static/customer/icon/6.png" alt="#" /></a>                        
                                            </li>

                                            <li class="nav-item">
                                                <a class="nav-link" href="{% url "customers:signup" %}" >Đăng Kí <img style="margin-right: 15px;" src="static/customer/icon/5.png" alt="#" /></a>                        
                                            </li>
                                            {% endif %}
                                              
                                            <li class="tytyu">
                                                <a href="#">Giỏ hàng <img style="margin-right: 15px;" src="static/customer/icon/2.png" alt="#" /></a>
                                            </li>
                                            <li class="menu_iconb">
                                                <a href="#">Tìm kiếm<img style="margin-right: 15px;" src="static/customer/icon/3.png" alt="#" /></a>
                                            </li>

                                            <li>
                                                <button type="button" id="sidebarCollapse">
                                                    <img src="static/customer/icon/menu_icon.png" alt="#" />
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- end header inner -->

                    <!-- end header -->
                    

                </div>
            </header>
            <!-- Categories -->
            <div class="Categories">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="title">
                                <h2>Danh mục </h2>
                                
                                        <ul class="categiri">
                                            {% if manufacturer_list %}
                                                {% for item in manufacturer_list %}
                                            <li>
                                                <a href="/?manufacturers={{item.id}}" 
                                                class="list-group-item list-group-item-action">{{item.name}}</a>
                                            </li>
                                            
                                                {% endfor %}
                                            {% endif %}
                                        </ul>

                                    
                                        
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- List product --> 
                       
                           <div id="brand"  class="brand-bg">
                            <h3>Sản phẩm</h3>
                            <div class="row">
                                {% if products_list %}
                                    {% for item in products_list %}
                                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 margintop">
                                    <div class="brand-box">
                                        <i><img src="media/{{ item.image }}" alt="img"></i>
                                        <h4><span class="nolmal">{{ item.name }}</span></h4>
                                        <h4><span class="nolmal">{{ item.price }} VNĐ</span></h4>
    
                                    </div>
                                    <a class="buynow" href="#">Mua ngay</a>
                                </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
        <!-- end news shoes -->
 
    <!-- end Categories -->
    
    <section>
        <!--  save -->
    </section>


    </div>

    <div class="overlay"></div>

    <!-- Javascript files-->
    <script src="{% static 'customer/js/jquery.min.js' %}"></script>
    <script src="{% static 'customer/js/popper.min.js' %}"></script>
    <script src="{% static 'customer/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'customer/js/jquery-3.0.0.min.js' %}"></script>

    <!-- sidebar -->
    <script src="{% static 'customer/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script src="{% static 'customer/js/custom.js' %}"></script>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#dismiss, .overlay').on('click', function() {
                $('#sidebar').removeClass('active');
                $('.overlay').removeClass('active');
            });

            $('#sidebarCollapse').on('click', function() {
                $('#sidebar').addClass('active');
                $('.overlay').addClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });
    </script>

    <script>
        $(document).ready(function() {
            $(".fancybox").fancybox({
                openEffect: "none",
                closeEffect: "none"
            });

            $(".zoom").hover(function() {

                $(this).addClass('transition');
            }, function() {

                $(this).removeClass('transition');
            });
        });
    </script>
    <script>
        // This example adds a marker to indicate the position of Bondi Beach in Sydney,
        // Australia.
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 11,
                center: {
                    lat: 40.645037,
                    lng: -73.880224
                },
            });

            var image = 'images/maps-and-flags.png';
            var beachMarker = new google.maps.Marker({
                position: {
                    lat: 40.645037,
                    lng: -73.880224
                },
                map: map,
                icon: image
            });
        }
    </script>
    <!-- google map js -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8eaHt9Dh5H57Zh0xVTqxVdBFCvFMqFjQ&callback=initMap"></script>
    <!-- end google map js -->
       
</body>

</html>